<div class="container">
	<div class="card" style="background-color: {{duck.color}};">
		<img src="{{duck.picture}}" alt="{{duck.name}}" />
		<p>Name: {{duck.name}}</p>
		<p>Material: {{duck.material}}</p>
		<p>Age: {{duck.age}}</p>
		<a href="/ducks/{{duck._id}}/delete"><i class="fas fa-user-slash"></i></a>
	</div>
</div>